<div id="home">

  {{!-- MODAL --}}
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">How did you like it?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
             <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="beer-rating">
              <option value="1">Eh</option>
              <option value="2">Alright</option>
              <option value="3">Good</option>
              <option value="4">Damn Good</option>
              <option value="5">I Have Found God's Nectar</option>
            </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save-rating">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <div class="container jumbotron">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Welcome To Beer Me!</h2>

      </div>
    </div>
  </div>
  <div class="container jumbotron">
    <div class="row">
      <div class="col-md-6">

        <form class="clearfix mb-4" id="myForm">
          <div class="form-group">
            <label for="example-text">What's Your Name?</label>
            <input type="text" id="name-text" class="form-control" aria-describedby="name-text" placeholder="Enter Name">
            <label for="age-text">How Old Are You?</label>
            <input type="text" id="age-text" class="form-control" aria-describedby="age-text" placeholder="Enter Age">
            <label for="example-text">What's Your Email?</label>
            <input type="email" id="email-text" class="form-control" aria-describedby="email-text" placeholder="Enter Email"> {{!--
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div> --}}

            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="beer-select">
              {{#each Beer}}
              <option value="{{id}}">{{beerName}}</option>
              {{!-- <option>Beer 2</option>
              <option>Beer 3</option>
              <option>Beer 4</option>
              <option>Beer 5</option> --}}
              {{/each}}
            </select>
           
            <button id="myForm" class="btn btn-primary float-right " data-toggle="modal" data-target="#myModal">Submit</button>
          </div>
          
      </div>
      <div class="col-md-6">
        </form>
        <h3>People Here:</h3>
        <ul id="name-list" class="list-group">
          {{#each Users}}
          <li data-id="{{this.id}}" class="list-group-item">
            {{name}} is drinking {{beer}} {{!--
            <button class="btn btn-danger float-right delete">ｘ</button> --}}
          </li>
          {{/each}}
        </ul>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>