{{!-- nav bar --}}
<nav class="level is-mobile is-light" id="navbar">
  <div class="level-item has-text-centered">
    <div>
      <a href="/">
        <p class="heading" id="appName">
          Beer Me!</p></a>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">
        <a href="/top"><i class="fas fa-list-ol"></i> &nbsp Leaderboard</p>
      </a>
    </div>
  </div>
</nav>

{{!-- leaderboard box --}}
<div class="container" id="box">
  <div class="card">
    <div class="card-header card-header-title" id="title">Top beers right now</div>
    <div class="card-body" id="leaderboard">
      <table style="width:100%">
        <tr id="tableHead">
          <th>Beer name</th>
          <th>Brewery</th>
          <th>IBU</th>
          <th>Rating</th>
        </tr>

          {{#each Beer}}
          <tr id="tableRow"></tr>
          <td>
            <a href="/beers/{{this.id}}">{{ this.beerName }}</a>
          </td>
          <td>{{ brewer }}</td>
          <td>{{IBU }}</td>
          <td>{{ rating }}</td>
          </tr>
          {{/each}}

      </table>

    </div>
  </div>
</div>